@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-main: #f4f4f0; /* Putih tulang yang lebih hangat, sangat nyaman di mata */
    --text-main: #111111;
  }

  body {
    background-color: var(--bg-main);
    background-image: radial-gradient(#c2c2c2 1px, transparent 1px);
    background-size: 24px 24px;
    color: var(--text-main);
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  }
}

@layer utilities {
  /* Kotak Brutal dengan Shadow Solid Hitam */
  .brutal-box {
    background-color: #ffffff;
    border: 3px solid #111111;
    box-shadow: 6px 6px 0px 0px #111111;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .brutal-box:hover {
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0px 0px #111111;
  }

  /* Tombol Brutal yang Berubah Warna Kuning saat Hover */
  .brutal-btn {
    background-color: #111111;
    color: #ffffff;
    border: 3px solid #111111;
    box-shadow: 5px 5px 0px 0px rgba(17,17,17,1);
    transition: all 0.2s ease;
  }

  .brutal-btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px 0px rgba(17,17,17,1);
    background-color: #FFD700; /* Kuning Interaktif */
    color: #111111;
  }

  /* Label / Tag warna warni */
  .brutal-tag-pink { background-color: #FF007F; color: white; }
  .brutal-tag-blue { background-color: #0055FF; color: white; }
  .brutal-tag-yellow { background-color: #FFD700; color: black; }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-main);
  border-left: 2px solid #111;
}
::-webkit-scrollbar-thumb {
  background: #111111;
}
